  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Resort.me</title>
  <link rel="stylesheet" href="/css/register_style.css">
  <section class="container"></section>

  <div class="login">
    <img src= /images/logo.png> <h1>Register</h1>
    <% errors.forEach((error) => { %>
      <div class="row" style="color: red">
        <%= error %>
      </div>
      <% });%>
    <form method="post" action="/users/register">
      <p><input type="text" name="fname"  placeholder="First Name" title="please enter only alphabets" pattern="[A-Za-z]+"required></p>
      <p><input type="text" name="lname" placeholder="Last Name"  title="Enter space seperated middle name and lastname or enter any one" pattern="[A-Za-z]+ {0,1}[A-Za-z]*" required></p>
      <p><input type="email" name="email" placeholder="Email" pattern="[a-z]+[-0-9a-zA-Z.+_]*@[a-zA-Z.+_]+\.[a-zA-Z]{2,4}" required></p>
      <p><input type="text" name="mobile" placeholder="Mobile" title="please enter 10 digit number and dont include 0 as first digit " pattern="[1-9][0-9]{9}" required></p>
      <p><input type="password" name="password" placeholder="Password" required></p>
      <p><input type="password" name="password2" placeholder="Confirm Password" required></p>
      <p class="submit"><input type="submit" name="submit" value="Register" required></p>
    </form>
  </div>

  <div class="login">
    <p>Have a account? <a href="login">Login Here</a></p>
  </div>