<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Resort.me</title>
<link rel="stylesheet" href="/css/updateForm.css">

<div class="container" style="background-color: white, 'text-align: center'" >
  <img src= /images/logo.png> <h1>Resort Update</h1>
  <form method="post" action="/users/hotelUpdate/<%= resort_id %>/<%= customer_id %>">
    <p> Start Date:
    <input type="date" name="start_date" required> 
    </p>
    <p style>
    End Date:
    <input type="date" name="end_date" required>
    </p>
    <p class="submit"><input type="submit" name="submit" value="Update" required></p>
  </form>
</div>
